<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="assets/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon-192x192.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/general.css">

%EXTRA_HEADER%

    <title>%PAGE_TITLE%</title>
  </head>
  <body>
<div class="container">
  <div class="row">
    <div class="col-12">
%NAVBAR%
    </div>
  </div>
</div>
<div class="container content">
  <!--<div class="row">
    <div class="col-12">-->
  <div class="row flex-nowrap">
%SIDEBAR%
    <div class="col">
%PAGE_CONTENTS%
    </div>
  </div>
</div>

%EXTRA_FOOTER%

  </body>
</html>
