
<link rel="stylesheet" href="css/sliders.css">


<body>

<h1>Image sliders</h1>

<p style="text-align: center;">Click the circle with arrows to drag the sliders around. Use the download links on the right to save a full size version.</p>

%SECTIONS%

<script>

%STATE%

function setImageDirectory(sliderId, selectElement) {
    state[sliderId].imageDirectory = selectElement.value;
    updateImage(sliderId);
}
function setLeftImage(sliderId, selectElement) {
    state[sliderId].leftType = selectElement.value;
    updateImage(sliderId);
}
function setRightImage(sliderId, selectElement) {
    state[sliderId].rightType = selectElement.value;
    updateImage(sliderId);
}
function setType0(sliderId, selectElement) {
    state[sliderId].type0 = selectElement.value;
    updateImage(sliderId);
}
function setType1(sliderId, selectElement) {
    state[sliderId].type1 = selectElement.value;
    updateImage(sliderId);
}
function setType2(sliderId, selectElement) {
    state[sliderId].type2 = selectElement.value;
    updateImage(sliderId);
}
function setType3(sliderId, selectElement) {
    state[sliderId].type3 = selectElement.value;
    updateImage(sliderId);
}
function setType4(sliderId, selectElement) {
    state[sliderId].type4 = selectElement.value;
    updateImage(sliderId);
}

function updateImage(sliderId) {
    // Construct paths
    const { imageDirectory, leftType, rightType, type0, type1, type2, type3, type4 } = state[sliderId];

    const leftPath = `slider_images/${imageDirectory}/L${leftType}${type0}${type1}${type2}${type3}${type4}`;
    const rightPath = `slider_images/${imageDirectory}/R${rightType}${type0}${type1}${type2}${type3}${type4}`;

    // Update images
    const container = document.getElementById(sliderId);
    const leftImg = container.querySelector('.img-comp-overlay img');
    const rightImg = container.querySelector('.img-comp-img:first-child img');

    leftImg.src = `${leftPath}.jpg`;
    rightImg.src = `${rightPath}.jpg`;

    // Update download links
    const leftLink = document.getElementById(`hires_left${sliderId.replace("slider", "")}`);
    const rightLink = document.getElementById(`hires_right${sliderId.replace("slider", "")}`);

    leftLink.href = `hires_${leftPath}.png`;
    rightLink.href = `hires_${rightPath}.png`;
}


function compare() {
    const overlays = document.getElementsByClassName("img-comp-overlay");
    for (let i = 0; i < overlays.length; i++) {
        compareImages(overlays[i]);
    }

    function compareImages(img) {
        let slider, clicked = 0, w = img.offsetWidth, h = img.offsetHeight;
        img.style.width = (w / 2) + "px";

        slider = document.createElement("DIV");
        slider.setAttribute("class", "img-comp-slider");
        img.parentElement.insertBefore(slider, img);

        const whiteBar = document.createElement("DIV");
        whiteBar.setAttribute("class", "img-comp-white-bar");
        img.parentElement.insertBefore(whiteBar, img);

        slider.style.top = (h * 0.85 - slider.offsetHeight / 2) + "px";
        slider.style.left = (w / 2 - slider.offsetWidth / 2) + "px";
        whiteBar.style.left = (w / 2 - 1) + "px";

        slider.addEventListener("mousedown", slideReadyDesktop);
        slider.addEventListener("touchstart", slideReadyMobile, { passive: false });

        function slideReadyDesktop(e) {
            e.preventDefault();
            clicked = 1;
            window.addEventListener("mousemove", slideMove);
            window.addEventListener("mouseup", slideFinish);
        }

        function slideReadyMobile(e) {
            e.preventDefault();
            clicked = 1;
            window.addEventListener("touchmove", slideMove, { passive: false });
            window.addEventListener("touchend", slideFinish);
        }

        function slideFinish() {
            clicked = 0;
            window.removeEventListener("mousemove", slideMove);
            window.removeEventListener("mouseup", slideFinish);
            window.removeEventListener("touchmove", slideMove);
            window.removeEventListener("touchend", slideFinish);
        }

        function slideMove(e) {
            if (clicked === 0) return;
            let pos = getCursorPos(e);
            if (pos < 0) pos = 0;
            if (pos > w) pos = w;
            slide(pos);
        }

        function getCursorPos(e) {
            let x = 0;
            e = e.changedTouches ? e.changedTouches[0] : e;
            const rect = img.getBoundingClientRect();
            x = e.pageX - rect.left - window.pageXOffset;
            return x;
        }

        function slide(x) {
            img.style.width = x + "px";
            slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
            whiteBar.style.left = x + "px";
        }
    }
}

compare();
</script>

</body>


