<div class="main-container d-flex flex-wrap align-items-start">
    <div>
        <div class="text-center mb-3">
            <h2 id="sec%SLIDER_ID%" style="text-align: center;">%SECTION_TITLE%</h2>
            <p>%DESCRIPTION%</p>
        </div>

        <div class="img-comp-container" id="slider%SLIDER_ID%">
            <div class="img-comp-img">
                <img src="%INITIAL_RIGHT_IMG%" width="800" height="800">
            </div>
            <div class="img-comp-img img-comp-overlay">
                <img src="%INITIAL_LEFT_IMG%" width="800" height="800">
            </div>
        </div>
    </div>
    <div class="controls-wrapper">
        <div class="controls-spacer"></div>
        <div class="controls-container">
          %BUTTONS%
        </div>
    </div>
</div>
