h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: normal;
  /*-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white; doesn't look right (and doesn't work at all on Safari) */
}

h2 {
  padding-top: 10px;
  /*padding-left: 10px;*/
  padding-bottom: 10px;
  font-weight: normal;
  color: #645656;
  scroll-margin-top: 80px;
}

.bg-colibre {
  background-color: #1482b5;
}

body::before { /* delete all except the color line if we don't want the image */
  content: ' ';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  background: url(../assets/FLAMINGO_webpage_background.png) repeat-x;
  will-change: transform;
  z-index: -1;
}

.container.content {
  padding-top: 76px;
}

.modal-title {
  font-weight: normal;
  color: #645656;
}

.overlaycontainer {
  /*width: 400px;
  height: 500px;*/
  display: inline-block;
  margin: 0 auto;
  position: relative;
}

.logooverlay {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1001;
}

.list-group-item.active {
  background-color: #986196;
  border-color: #645656;
}

.helptext {
  text-align: center !important;
  color: #986196;
  font-size: 1em;
  font-weight: 400;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

.footer {
  display: inline-block;
  width: 100%;
  justify-content: center;
  text-align: center !important;
  margin-top: 0.5rem;
}

.footer > img {
  max-height: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

.footertext {
  text-align: center !important;
  color: #986196;
  font-size: 0.75em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Make sure the sidebar  doesn't overlap with the header*/
#sidebar.sticky-top {
  top: 100px; /*This should be slightly larger than scroll-margin-top in h2*/
}

/* Style the siderbar*/
#sidebar {
  background-color: #f8f9fa; /* Light gray background */
  border: 1px solid #ccc;    /* Border around the sidebar */
  border-radius: 5px;       /* Rounded corners */
  padding: 0.75rem;
}

/* Style the links inside the sidebar */
#sidebar .nav-link {
  color: #6c757d;            /* Gray text (Bootstrap's text-secondary) */
  font-weight: 500;
  padding: 0.25rem 0;
  transition: color 0.2s;
}

#sidebar .nav-link:hover {
  color: #495057;            /* Darker gray on hover */
  text-decoration: underline;
}
