.sort-button {
  font-size: 1rem;         /* Match body text size */
  padding: 4px 8px;        /* Reduced vertical and horizontal padding */
  margin: 4px 4px 0 0;     /* Tight margins */
  background-color: #f0f0f0;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.sort-button:hover {
  background-color: #e0e0e0;
}
.sort-button.active {
  background-color: #1482b5;
  color: white;
  border-color: #1482b5;
}

.group-end {
  border-bottom: 3px solid black;
}

.plot-container {
  width: 100%;
  position: relative;
  /* Aspect ratio */
  padding-top: 52.6%;
  overflow: hidden;
}

.plot-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
